/* Общие стили */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --heading-color: #276F97;
  --text-color: #363636;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Стили для Блоготворительности */

.charity__flex {
  display: flex;
  padding-top: 120px;
  padding-bottom: 170px;
}

.charity__heading {
  max-width: 498px;
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: 0.03em;
  color: var(--heading-color);
  margin-bottom: 40px;
}

.charity__img {
  max-width: 440px;
  max-height: 600px;
  object-fit: cover;
}

.charity__content {
  max-width: 498px;
  margin-right: auto;
}

.charity__text {
  max-width: 476px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 145%;
  margin-bottom: 45px;
  color: var(--text-color);
}

.charity__text:nth-child(2) {
  margin-bottom: 40px;
}

.charity__text:last-child {
  margin-bottom: 0;
}

/* Стили для меню */

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.menu__header,
.menu__social,
.menu__content {
  display: flex;
}

.personal-area {
  display: inline-flex;
}

.menu__header,
.personal-area {
  align-items: center;
}

.menu__header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.menu__link {
  display: inline-block;
}

.menu__link:nth-child(2) {
  margin: 0 auto;
}

.menu__social-link {
  margin-right: 12px;
}

.menu__social-link:last-child {
  margin-right: 0;
}

.menu__social {
  margin-right: 40px;
}

.menu__same-line {
  display: inline-block;
  margin-top: 2px;
  margin-right: 15px;
  margin-bottom: -2px;
}

.personal-area {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--heading-color);
}

.menu__content {
  align-items: flex-start;
}

.menu__list {
  width: 745px;
  margin-right: auto !important;
}

.menu__img {
  max-width: 370px;
  max-height: 530px !important;
  object-fit: cover;
}

.menu__item {
  margin-bottom: 28px !important;
}

.menu__content-item {
  height: 646px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: none !important;
  background-color: #fff !important;
  color: var(--heading-color) !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
 color: var(--heading-color) !important;
}

.ui-icon, .ui-widget-content .ui-icon {
  display: none !important;
}

.ui-accordion .ui-accordion-header,
.ui-accordion .ui-accordion-content {
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}

.ui-widget-content {
  border: none !important;
}

.menu__heading {
  font-family: 'Roboto Slab';
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 32px !important;
  line-height: 42px !important;
  letter-spacing: 0.03em !important;
  color: var(--text-color);
}

.accordion__list {
  padding: 40px 0 12px 0;
}

.accordion__item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.footer__wrapper {
  display: flex;
  align-items: flex-end;
  padding-bottom: 60px;
}

.menu__footer__link {
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color);
}

.menu__footer__link:nth-child(2) {
  text-decoration: underline;
  margin: 0 auto;
}

/* Стили для Статей */
