@media (max-width: 1200px) {
    body {
        margin-top: 89px;
    }

    .menu-link-one {
        order: 3;
        margin: 0;
        margin-left: 10px;
    }

    .menu__same-line {
        margin: 0;
    }

    .menu__logo {
        margin-right: auto;
    }

    .hide {
        display: none;
    }

    .menu__list {
        max-width: 300px;
    }
    
    .menu__social {
        margin-right: 12px;
    }

    .menu__content-item {
        display: none;
    }

    .menu__content {
        justify-content: center;
    }
    
    .menu__list {
        margin-right: 0;
    }

    .menu__heading {
        font-size: 22px;
        line-height: 29px;
        letter-spacing: 0.01em;
        max-width: 253px;
    }

    .accordion__item {
        font-size: 14px;
        line-height: 17px;
        max-width: 300px;
    }

    .footer__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .menu__footer__link:nth-child(2) {
        margin: 0;
    }

    .menu__footer__link:nth-child(2) {
        order: 2;
    }

    .menu__footer__link {
        margin-bottom: 20px;
    }

    .footer_developer {
        order: 1;
        margin-bottom: 20px;
    }

    .menu__link-img {
        width: 40px;
        height: 40px;
    }

    .menu__link-img:nth-child(2) {
        width: 45px;
        height: 37px;
    }

    .menu__social-link {
        width: 10px;
        height: 10px;
    }

    .header_user {
        flex-direction: row-reverse;
    }

    .menu__same-line {
        width: 20px;
        height: 20px;
    }

    .header_basket {
        padding: 0;
        margin: 0;
        background-color: #fff;
    }

    .header__menu_icon {
        display: block;
        margin-left: 30px;
    }

    .header_enter {
        width: 26px;
    }

    .header_enter img {
        width: 26px;
        height: 26px;
    }

    .header_basket img {
        margin-right: 20px;
    }

    .header_crutch, .menu_img {
        width: 40px;
        height: 40px;
        margin-right: auto;
    }

    .header_catalog,
    .header_search,
    .header_free {
        display: none;
    }

    .header_content {
        justify-content: start;
    }

    .menu__btn {
        height: 30px;
        background-color: #fff;
    }

    header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .faq__heading {
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 0.01em;
        margin-bottom: 50px;
    }

    .faq {
        margin-top: -210px;
    }

    .faq__accordion__item {
        width: 100%;
        max-height: 55px;
    }

    .accordion__heading {
        font-size: 18px;
        line-height: 22px;
        padding: 15px 14px 15px 16px;
    }

    .accordion__text {
        font-size: 14px;
        line-height: 20px;
    }

    .faq__accordion__item-active {
        max-height: 207px;
    }

    .faq__plus {
        margin-left: 20px;
        min-width: 25px;
        min-height: 25px;
        width: 25px;
        height: 25px;
    }

    .accordion__heading-active .faq__plus {
        transform: rotate(-45deg);
    }

    .footer_contacts_btn, .footer_menu {
        display: none;
    }

    .footer__hide {
        display: flex;
        margin-bottom: 40px;
    }

    .image {
        width: 45px;
        height: 40px;
    }

    .footer_bureaucracy {
        flex-direction: column;
    }

    .footer__developer {
        display: flex;
    }

    .footer_developer {
        display: none;
    }

    .copyrights {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 34px;
    }

    .footer_bureaucracy_confidentiality {
        margin-bottom: 34px;
    }

    .dev_img {
        width: 80px;
    }

    .faq__plus svg {
        width: 15px;
        height: 15px;
    }

    .charity__flex {
        flex-direction: column;
        padding: 70px 0 80px 0;
    }

    .charity__img {
        margin-left: 0;
        width: 165px;
        height: 220px;
        margin-top: 30px;
    }

    .heading {
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 0.01em;
    }

    .charity__text {
        font-size: 20px;
        line-height: 29px;
    }

    .article__flex {
        flex-direction: column;
        padding: 70px 0 80px;
    }

    .article__img {
        width: 300px;
        height: 200px;
        margin-bottom: 30px;
    }

    .article__heading {
        margin-bottom: 50px;
    }

    .article__heading_light {
        font-size: 22px;
        line-height: 29px;
        margin-bottom: 12px;
    }

    .article__text {
        font-size: 16px;
        line-height: 23px;
    }
}

@media (max-width: 491px) {
    .faq__accordion__item {
        max-height: 74px;
    }

    .faq__accordion__item-active {
        max-height: 207px;
    }
}